# Groundfish Specific
export GROUNDFISH_RUNNER_IMAGE=
export GROUNDFISH_STORAGE_QUEUE_CONNECTION_STRING=
# GROUNDFISH_STORAGE_ACCOUNT_NAME = STORAGE_ACCOUNT_NAME if running flukerdm
export GROUNDFISH_STORAGE_ACCOUNT_NAME=
export GROUNDFISH_QUEUE_NAME=
# Queue URL includes to SAS token? Double check this. 
export GROUNDFISH_AZURE_STORAGE_QUEUE_URL= 

#Check these
export TENANT_ID=
export CLIENT_ID=
export CLIENT_SECRET=
export RESOURCE_GROUP=
export STORAGE_ACCOUNT_NAME=
export STORAGE_ACCOUNT_KEY=
export REDIS_PASSWORD=
export IMAGE=
export IMAGE_GROUNDFISH=
export FQDN=
export LB_PRIVATE_IP=
export AZURE_STORAGE_QUEUE_URL=
export APP_SHARE_NAME=
export APP_SHARE_SIZE=
export GROUNDFISH_SHARE_NAME=
export APP_SHARE_NAME_GROUNDFISH=
export NAMESPACE=
export CERT_URI=